.git
.gitignore
.idea
.DS_Store
ref
data

docs
tests

src/backend/.venv
src/backend/.pytest_cache
src/backend/.ruff_cache
src/backend/.mypy_cache
src/backend/.import_linter_cache
src/backend/tests

src/frontend/node_modules
src/frontend/dist

**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
